@font-face {
  font-family: 'ashbury';
  src: url(./metadata/ashburylig.otf);
}

:root {
  --base: #2E3440;
  --text: #ECEFF4;
}

.background-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.backdrop-shadow {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.55),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}

html {
  height: 100%;
}
body {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  font-family: 'ashbury';
  font-size: 1rem;
  background-color: var(--base);
  color: var(--text);
}

#library {
  position: absolute;
  margin-top: 32px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  width: 90%;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#library span {
  font-size: 2rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#library span img {
  margin-top: -2.69px;
  width: 34px;
  height: 34px;
}

#book-container {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#book-container .heading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--text);
}
#book-container .heading span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 2px;
  width: 100%;
}

#book-container .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid var(--text);
  padding-top: 16px;
  padding-bottom: 16px;
}
#book-container .grid div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#book-container .grid div span {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.88rem;
  word-break: keep-all;
}

input[type="checkbox"] {
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  /* hide native checkbox */
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--base);
  margin: 0;

  /* custom checkbox */
  font: inherit;
  color: var(--text);
  width: 16px;
  height: 16px;
  border: 2px solid var(--text);
  border-radius: 4px;
  
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--text);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:focus {
  outline: max(2px, 2px) solid var(--base);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: var(--base);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer button {
  width: 112px;
  height: 32px;
  font-family: 'ashbury';
  font-size: 0.88rem;
  background-color: var(--base);
  color: var(--text);
  border: 1px solid var(--text);
  cursor: pointer;
}
footer button:hover {
  background-color: var(--text);
  color: var(--base);
  border: 1px solid var(--text);
}
footer button:active {
  background-color: var(--base);
  color: var(--text);
  border: 1px solid var(--text)
}

#form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 52, 64, 0.5);
}
#form-container form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 272px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#form-container label {
  align-self: flex-start;
  font-family: 'ashbury';
  font-size: 1.1rem;
  letter-spacing: 1px;
}
#form-container input {
  align-self: flex-end;
}
input[type="text"], input[type="number"] {
  background-color: var(--base);
  border: 1.42px solid var(--text);
  color: var(--text);
  font-family: 'ashbury';
  font-size: 0.88rem;
}
input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
}

/* Remove Spinners from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

#form-container form div {
  margin-top: -8px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}
#form-container form div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#form-container form div div input {
  transform: translate(0, -4px);
}

#book-form .actionButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
#book-form button {
  margin-top: 32px;
  background-color: var(--base);
  color: var(--text);
  border: 1.42px solid var(--text);
  font-family: 'ashbury';
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 12px;
  cursor: pointer;
}
#book-form button:hover {
  background-color: var(--text);
  color: var(--base);
}
#book-form button:active {
  background-color: var(--base);
  color: var(--text);
}

#removeBookContainer {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translate(-50%, 0); 
  padding: 24px;
  padding-bottom: 80px;
  border: 1.42px solid var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#removeBookContainer div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 16px;
  color: var(--text);
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: end;
}
#removeBookContainer .remove {
  background-color: var(--base);
  color: var(--text);
  border: 1.42px solid var(--text);
  font-family: 'ashbury';
  font-size: 0.88rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 12px;
  cursor: pointer;
}

#exitRemove {
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
  background-color: var(--base);
  color: var(--text);
  border: 1.42px solid var(--text);
  font-family: 'ashbury';
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 12px;
  cursor: pointer;
}
#exitRemove:hover {
  background-color: var(--text);
  color: var(--base);
}
#exitRemove:active {
  background-color: var(--base);
  color: var(--text);
}