@font-face {
  font-family: 'ashbury';
  src: url('./assets/ashburylig.otf');
}

:root {
  font-family: 'ashbury';
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1px;

  --color1: rgb(219, 219, 228);
  --color2: rgb(197, 144, 66);
  --background: rgb(20, 22, 35);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
  margin-top: 0;
  width: calc(100vw - 6em);
  min-height: calc(100vh - 6em);
  color: var(--color1);
  background-color: var(--background);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sectionHeading {
  width: 100%;
  line-height: 0;
  margin-top: 3em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.sectionHeading .underLine {
  margin-top: -6px;
  margin-bottom: 3em;
  background-color: var(--color1);
  width: 100%;
  height: 1px;
  opacity: 0.5;
}