@font-face {
  font-family: 'space';
  src: url(./metadata/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: 'spaceBold';
  src: url(./metadata/SpaceMono-Bold.ttf);
}

/* color scheme */
:root {
  --base: #191724;
  --text: #fffaf3;
  --accent: rgb(183, 189, 248);
  --attention: rgb(238, 153, 160);
}

/* let page take full heigh of viewport excess */
html { height: 100%; } body { position: absolute; top:0; bottom:0; right:0; left:0; }

body {
  background-color: black;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: 'space';
  font-size: 1rem;
}

.background-blur {
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.backdrop-shadow {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.55),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}

#backdrop {
  position: fixed;
  display: block;
  left: -1px;
  top: -1px;
  width: auto;
  height: 101vh;
  background-image: url('./metadata/mos-design-ild0babk0Q0-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#beauty-container {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creditImage { color: var(--text); position: absolute; bottom: 0; margin-bottom: 16px; }
.creditName, .creditLink { 
  color: var(--accent);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.creditName:hover { color: var(--text); }
.creditLink:hover { color: var(--text); }
.creditName:active { color: var(--accent);}
.creditLink:active { color: var(--accent); }

main {
  grid-area: 1 / 2 / 2 / 4;
  width: calc(100% + 8px);
  height: calc(100% + 16px);
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgba(25, 23, 36, 0.22);
}

#form-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  color: var(--base);
  background-color: rgba(250, 244, 237, 0.36);
  padding: 16px; 
  width: 100%;
  height: auto;
}
#form-container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0;
}
#form-container form div {
  display: flex;
  flex-direction: column;
}

#form-container form label {
  font-family: 'space';
  font-size: 0.86rem;
  color: var(--text) !important;
}
#form-container form input {
  width: 69%;
  padding: 4px;
  margin: 4px 0;
  box-sizing: border-box;
  background-color: rgba(255, 250, 243, 0.69);
  font-family: 'space';
}

#create-acc {
  background-color: transparent;
  color: var(--text);
  font-family: 'spaceBold';
  font-size: 0.86rem;
  padding: 6px 12px;
  border: 2px solid var(--text);
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}
#create-acc-sub {
  margin-top: 16px;
  margin-left: auto;
  margin-right: 16px;
}

.info {
  color: var(--text);
}

.accent {
  color: var(--accent);
}

.attention {
  color: var(--attention);
}

.sub-info {
  color: var(--text);
  font-size: 0.86rem;
}